*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  width: 500px;
  height: fit-content;
  background-color: whitesmoke;
  position: relative;
  margin: 0 auto;
  border-radius: 0 0 30px 30px;
}

